@charset "utf-8";

/* *************************************************** */
/* *********************** GLOBAL ******************** */
/* *************************************************** */

html {
  font-size: 100%; /* Évite un bug d'IE 6-7. (1) */
}

body {
  margin: 0;
  padding: 0;
  font-family: Georgia, Helvetica, FreeSans, sans-serif;
  font-size: .8em; /* À adapter pour la police choisie. (3) */
  line-height: 1.4; /* À adapter au design. (4) */
  color: black;
  background: #222327;
}

/* Titres */

h1, h2, h3, h4, h5, h6 {
  margin: 1em 0 .5em 0; /* Rapproche le titre du texte. (5) */
  line-height: 1.2;
  font-weight: bold; /* Valeur par défaut. (6) */
  font-style: normal;
}

h1 {
  font-size: 1.75em;
}

h2 {
  font-size: 1.5em;
}

h3 {
  font-size: 1.25em;
}

h4 {
  font-size: 1em;
}

/* Listes */

ul, ol {
  margin: .75em 0 .75em 32px;
  padding: 0;
}

/* Paragraphes */

p {
  margin: .75em 0; /* Marges plus faibles que par défaut. (7) */
}

address {
  margin: .75em 0;
  font-style: normal;
}

/* Liens */

a {
  text-decoration: underline;
}

a:link {
  color: #11C;
}

a:visited {
  color: #339;
}

a:hover, a:focus, a:active {
  color: #00F;
}

/* Pas de bordure autour des images dans les liens */

a img {
  border: none;
}

/* Divers éléments de type en-ligne (8) */

em {
  font-style: italic;
}

strong {
  font-weight: bold;
}

/* Formulaires */

form, fieldset {
  margin: 0;
  padding: 0;
  border: none;
}

input, button, select {
  vertical-align: middle; /* Solution pb. d'alignement. (9) */
}

/* Disposition générale */

#big_wrapper {
  margin:auto;
  width:960px;
}

#wrapper {
  margin:auto;
  background:white;
  width:960px;
  padding:5px;
}

#header {
  width:960px;
  height:80px;
  margin-bottom: 5px;
}
#header img {
float:left;
  margin-right:5px;
  margin-left:7px;
}

#user_nav {
  float:right;
}


#contenu h1{
  text-align:center;
}

#contenu h2{
  text-align:center;
}

#contenu h3{
  text-align:center;
}

#contenu p {
  margin-left:5px;
}

#contenu p.infopost{
  font-size: 0.85em;
}



/* CSS des flash Rails */

.notice
{
  text-align: center;
  padding: 8px;
  margin : 0;
  margin-bottom: 10px;
  background: #fff6bf;
}

.alert
{
  text-align:center;
  padding: 8px;
  margin:0;
  margin-bottom:10px;
  background: #e4b0b1;
}
